{% extends "layout.html" %}

{% block content %}
<div class="container">
<div class="box1 d-flex">
    <div class="box2 h-50 w-50 text-center">
        <h1>User Images Here </h1>
    </div>
    <div class="box3 h-50 w-50 text-center">
        <h1>Welcome User.name </h1>
        <h1>User.email</h1>
    </div>
</div>

<div class="user_uploaded-data text-center m-6">
   <h1>User Uploaded Recipies Comes Here </h1>
</div>
<div class="user_-rating text-center m-6">
   <h1>Ratting Comments  </h1>
</div>
</div>
{% endblock content %}
